﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CompLogin.aspx.cs" Inherits="WebApplication1.CompLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <table style="width:225px">
       <tr>
           <td rowspan="2"; style="background-color:#510475">
               <table >
                        <tr>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                           
                    <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                   <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                             
                   <tr>
                            <td style="background-image:url('Login_logo.png');background-size:100%" class="auto-style1">
                                <br /><br /><br /><br />
                            </td>
                        </tr>
                        
               </table></td>
                            <td style="color:#510475">
                                <h3>Company Login:</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</td>
               <td>&nbsp;
                </td>
               </tr>
               <tr>
                   <td colspan="2">
                <div>
                    <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        
                        <br />
                        <br />
                        <br />
                        <br />
                        
<table class="auto-style2" style="background-color:#bdb8b8">
            <tr>
                <td class="auto-style12" style="color: #510475; font-family: 'Bookman Old Style';">User Name:</td>
                <td class="auto-style13">
                    <asp:TextBox ID="TextBoxUserName" runat="server"></asp:TextBox>
                </td>
                <td class="auto-style14">
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Usename is required" ForeColor="Red" ControlToValidate="TextBoxUserName" ValidationGroup="val1"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td class="auto-style3" style="font-family: 'Bookman Old Style'; color: #510475;">Password:&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td class="auto-style6">
                    <asp:TextBox ID="TextBoxPwd" runat="server" TextMode="Password"></asp:TextBox>
                </td>
                <td>
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Password is required" ForeColor="Red" ControlToValidate="TextBoxPwd" ValidationGroup="val1"></asp:RequiredFieldValidator>
                </td>
            </tr>
            <tr>
                <td class="auto-style8"></td>
                <td class="auto-style9">
                    <asp:Button ID="LoginButton" runat="server" Text="Login" ValidationGroup="val1" BackColor="#510475" ForeColor="White" OnClick="LoginButton_Click" />
                </td>
                <td class="auto-style10">
                    <input id="Reset1" type="reset" value="Cancel" style="color: #FFFFFF; font-family: 'Bookman Old Style'; background-color: #510475;" /></td>
            </tr>
            <tr>
                <td class="auto-style4">
              
                    <asp:Label ID="Label1" runat="server" Visible="False" Text="Wrong username or password" ForeColor="#FF3300" ValidationGroup="val1"></asp:Label>
                </td>
                <td class="auto-style6">
                    <asp:Button ID="CompRegisterButton" runat="server" Text="Register" BackColor="#510475" ForeColor="White" OnClick="CompRegisterButton_Click" />
              
                </td>
            </tr>
        </table>
                        
                        <br />
                        <br />
                        <br />
                        <br />
                        
                        <br />
                        <br />
                        <br />
                        <br />
                        
                        
 
    </div>
                          </td>
                        </tr>
                    </table> 
    </form>
</body>
</html>
