body{
	background-color: #550487;
	background-image:url("sideimg.jpg");	
    background-size: 19% 103.5%;
	background-repeat:no-repeat;
}
img {
    width: 100%;
    height: auto;
}

.head{color:white;float:left;}
table{
    width:40%;

    
}

table{border:0px;border-collapse:collapse}
td{border:0px solid white}

td{padding: 5%}
#rcorners1 {
	margin-left: 1%;
    border-radius: 15px;
    background: #737373;
    padding: 20px; 
    width: 98%;
    height: 100%;    
}
#Submit{float:right}
#sidebar{margin-top: 200px;

}
.rcorners2 {
	margin-top: 20px;
	margin-left: 8%;
    border-radius: 15px;
    background: #550487;
    padding: 20px; 
    width: 60%;
    height: 20%;
    
}
#rcorners3 {
	margin-left:-5%;
	border-radius: 15px;
    background: #d9d9d9;
    padding: 20px; 
    width: 100%;
    height: 500px;    
}
#rcorners4 {
	margin-top: 2%;
	margin-left:70%;
    border-radius: 10px;
    background: #737373;
    padding: 5px; 
    width: 25%;
    height: 20%;
	color:white;
	font-size:18px;
    
}
.bg-field{width:100%;
height:100%;
text-align:center;
font-size:120%;
background-color:white;
border:none}

button{
	width:100%;
	background-color:#737373;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
table.btns{width:100%;
text-align:center;
font-size-adjust: 0.6;}
td.ovf{overflow:hidden}
table.fields1{width:100%;
text-align:center;
}
table.fields2{width:100%;
text-align:center;
}

a{color:#550487}
.active{background-color:#d9d9d9;}

