
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #520482;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
	text-align:center;
}

.sidebar-nav li {
    
    line-height: 45px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.divider {
  height: 2px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  overflow: hidden;
  background-color: #e5e5e5;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffff1a;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 30px;
    line-height: 40px;
	
}

.sidebar-nav > .sidebar-brand a {
    color: #ffff1a;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #ffff1a;
    background: none;
}
.purple{
	background-color:#520482;
	color:white;
	font-weight:bold;
}
.left{
	float:left;
}
.right{
	float:right;
}
#rcorners1 {
	margin-left:65px;
	
    border-radius: 15px;
    background: white;
   padding: 20px 20px 90px 20px;
    min-width: 300px;
       
}
#rcorners3 {
	border-radius: 15px;
    background: #d9d9d9;
    padding: 20px; 
     min-width: 600px;
        
}
#rcorners4 {
	margin-top:10px;
	margin-right: 63px;
	margin-left:70%;
    border-radius: 10px;
    background: #520482;
    padding: 5px 30px 20px 5px; 
    min-width: 200px;
	max-width:300px;
	color:white;
	font-size:18px;
	
}
.user {
  
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
	margin-top:10%;
	margin-left:70%;


  background-image: url('user_icon.png');
  
}
.two{
	margin-top:5%;
overflow:hidden;
	}
.fix2{
	min-width: 650px;

}
.fix3{
	width:90%;
	margin-top:70%;
}
.fix1{
	max-width: 90px;
}
.fix4{
	margin-top:10%;
}
	.center1{
    margin-left: 5%;
   margin-right:5%;
   min-width:600px;
}
.center2{
    margin-left: 6%;
   margin-right:6%;
}


.headclr{
	color:#520482;
	font-weight:bold;
	margin-left:10%;
	min-width:150%;
	
	
}
#justify-icon {
    outline: 0;
    color: #400080;
    font-size: 24px;
    font-style: normal;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}